:root {
  --bg: #E6EDF3;
  --text: #1E293B;
  --accent: #00C2CB;
  
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 1rem clamp(1rem, 5vw, 2rem);
  z-index: 100;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 70px;
}

/* Nav */
.nav-desktop {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  transition: 0.2s;
}

.nav-link:hover {
  color: var(--accent);
}

.active-link {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}

/* Buttons */
.right-section {
  display: flex;
  gap: 1rem;
}



/* Mobile */
.mobile-toggle {
  display: none;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background: white;
  transform: translateX(100%);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.mobile-menu.show {
  transform: translateX(0);
}

/* Responsive */
@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }
}